In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
# Import API key
g_key = "AIzaSyClNHvUH22RHPgAXnzxEndOWPDU3Ez_3Mk"

In [3]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,souillac,-20.52,57.52,73.40,83,40,5.82,MU,1590943077
1,1,rikitea,-23.12,-134.97,75.16,85,7,9.48,PF,1590943078
2,2,ushuaia,-54.80,-68.30,41.00,75,75,3.36,AR,1590943078
3,3,ahipara,-35.17,173.17,60.75,93,100,8.90,NZ,1590943078
4,4,castro,-24.79,-50.01,69.93,57,0,6.76,BR,1590943078

#  Humidity Heatmap

In [4]:
 # Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.

# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

#  Create new DataFrame fitting weather criteria

In [6]:
# Narrow down cities that fit criteria and drop any results with null values
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
80,80,east london,-33.02,27.91,70.45,53,0,5.70,ZA,1590942984
190,190,tiznit,29.58,-9.50,74.68,53,0,8.88,MA,1590943113
232,232,moerai,-22.43,-151.33,76.23,77,0,2.68,PF,1590943121
258,258,lubango,-14.92,13.49,77.00,38,0,6.93,AO,1590943126
292,292,papetoai,-17.50,-149.87,75.20,88,0,2.24,PF,1590943131
314,314,harsin,34.27,47.59,78.80,4,0,9.17,IR,1590943136
329,329,isangel,-19.55,169.27,75.42,82,0,3.42,VU,1590943138
378,378,hami,42.80,93.45,74.75,21,0,8.25,CN,1590943147
394,394,tura,25.52,90.22,72.28,95,0,2.93,IN,1590943150
495,495,balkanabat,39.51,54.37,73.94,62,0,8.63,TM,1590943166

# Hotel  Map

In [7]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.



# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country    Lat     Lng Hotel Name
80   east london      ZA -33.02   27.91
190       tiznit      MA  29.58   -9.50
232       moerai      PF -22.43 -151.33
258      lubango      AO -14.92   13.49
292     papetoai      PF -17.50 -149.87
314       harsin      IR  34.27   47.59
329      isangel      VU -19.55  169.27
378         hami      CN  42.80   93.45
394         tura      IN  25.52   90.22
495   balkanabat      TM  39.51   54.37

In [8]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

            City Country    Lat     Lng Hotel Name
80   east london      ZA -33.02   27.91
190       tiznit      MA  29.58   -9.50
232       moerai      PF -22.43 -151.33
258      lubango      AO -14.92   13.49
292     papetoai      PF -17.50 -149.87
314       harsin      IR  34.27   47.59
329      isangel      VU -19.55  169.27
378         hami      CN  42.80   93.45
394         tura      IN  25.52   90.22
495   balkanabat      TM  39.51   54.37

In [9]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))